//@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap")
//@import "~@glidejs/glide/src/assets/sass/glide.core"
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
@import "./varibles.sass"
@import "./breakpoints.scss"
@import '~react-phone-input-2/lib/style.css'

body,
html
	user-select: none
	background: $pale
	overscroll-behavior: none
	margin: 0
	font-family: $font
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	//visibility: hidden
	color: $black
	font-size: 16px
	overflow-x: hidden
	min-width: 320px
	&.lock-scroll
		overflow: hidden

.container
	width: 1560px
	min-width: 1560px
	margin: 0 auto
	height: 100%
	position: relative
	@include media("<=1560px")
		width: 1280px
		min-width: 1280px
	@include media("<=desktop")
		width: 1080px
		min-width: 1080px
	@include media("<=1080px")
		width: 100%
		min-width: 100%
	.row
		display: flex
		height: 100%
		padding: 0 32px
		@include media("<=phone")
			padding: 0 16px
	.v-center
		align-items: center
	.space-between
		justify-content: space-between
	.space-around
		justify-content: space-around

.container-fluid
	width: 100%
	height: 100%
	.row
		display: flex
		height: 100%


// Base settings
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-family: Montserrat

h2
	color: $black
	text-transform: uppercase
	font-size: 2.25rem
	margin-bottom: 100px
	@include media("<=tablet")
		margin-bottom: 50px
		font-size: 1.75rem
	@include media("<=phone")
		font-size: 1.25rem
		margin-bottom: 30px
		line-height: 1.2
	.h2-line
		display: block
		&:nth-child(2)
			margin-left: 90px
			@include media("<=tablet")
				margin-left: 0
				margin-left: 3px
		@include media("<=tablet")
			display: inline

.section
	&.dark
		background-color: $pale-brown
		padding-top: 75px
		padding-bottom: 100px
		@include media("<=phone")
			padding: 30px 0
		.h2-color
			color: $white
	&.light
		background-color: $pale
		padding-top: 145px
		padding-bottom: 145px
		@include media("<=phone")
			padding: 30px 0
		.h2-color
			color: $adobe

.button
	color: $black
	outline: none
	font-size: 1rem
	text-decoration: none
	font-weight: normal
	cursor: pointer
	display: inline-block
	&.bordered
		padding: 19px 45px
		line-height: 1
		text-align: center
		border: solid 1px $adobe
		transition: background-color .3s, color .3s
		background-color: transparent
		@include media("<=phone")
			padding: 12px 20px
		&:hover
			background-color: $adobe
			color: $white
	&.main
		background-color: $adobe
		color: $white
		&:hover
			background-color: transparent
			color: $black
	&.arrow
		width: 100%
		padding: 9px
		text-align: center
		border: solid 1px $white
		position: relative
		transition: background-color .3s
		@include media("<=phone")
			padding: 5px
			width: calc(100%)
			line-height: 1.4
			font-size: 0.875rem
		svg
			position: absolute
			right: 0
			top: 50%
			transform: translate(50%, -50%)
			width: 30px
			height: auto
			transition: transform .3s
			@include media("<=phone")
				width: 18px
		&:hover
			background-color: $white
			svg
				transform: translate(calc(100% + 5px), -50%)
	&.arrow-only
		display: flex
		align-items: center
		transition: color .3s
		background-color: transparent
		border: none
		svg
			width: 30px
			height: auto
			margin-left: 15px
			@include media("<=phone")
				width: 18px
			path
				fill: $black
				transition: fill .3s
		&:hover
			color: $adobe
			svg
				path
					fill: $adobe
	&.line
		position: relative
		background-color: transparent
		border: none
		&::after
			content: ''
			position: absolute
			top: 50%
			left: calc(100% + 5px)
			height: 1px
			width: 35px
			background-color: $black
			transition: left .3s
		&:hover
			&::after
				left: calc(100% + 15px)




// 01 - First Screen
.first-screen
	padding-bottom: 50px
	position: relative

.header
	position: fixed
	background-color: $pale
	width: 100%
	height: 90px
	z-index: 10
	@include media("<=phone")
		height: 60px
	.logo
		height: 100%
		svg
			height: 100%
			width: auto
			@include media("<=phone")
				width: 80px
				height: auto
	.contacts
		text-align: center
		flex: 1
		@include media("<=tablet")
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: 45px
		@include media("<=phone")
			font-size: 0.875rem
			top: 27px
		a
			color: $black
			text-decoration: none
			@include media("<=tablet")
				&:first-child
					display: none
			&:last-child
				margin-left: 60px
				@include media("<=tablet")
					margin-left: 0
	.left-side
		display: flex
		align-items: flex-end
	.langs
		text-transform: uppercase
		@include media("<=tablet")
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: 20px
		@include media("<=phone")
			top: 5px
		&-item
			font-size: 16px
			text-decoration: none
			color: $black
			padding: 5px
			@include media("<=tablet")
				font-size: 1rem
			@include media("<=phone")
				font-size: 0.875rem
			&.active
				color: $adobe
				cursor: default
	.nav-toggle
		cursor: pointer
		margin-left: 68px
		z-index: 12
		.hamburger-menu
			padding: 10px
			width: 56px
			margin: -10px
			z-index: 12
			background: none
			border: none
			cursor: pointer
			overflow: hidden
			outline: none
			&.close
				position: relative
				span
					background-color: $white
					&:nth-child(2)
						transform: translateX(150%)
					&:nth-child(1)
						transform: translateY(9px) rotate(45deg)
						transform-origin: center
					&:nth-child(3)
						transform: translateY(-9px) rotate(-45deg)
						transform-origin: center
			span
				margin-bottom: 6px
				background-color: $adobe
				height: 3px
				border-radius: 3px
				width: 100%
				display: block
				transition: transform .3s, background-color .3s .5s
				&:nth-child(2)
					width: calc(100% - 6px)
					margin-left: auto
				&:last-child
					margin-bottom: 0
			&:hover:not(.close)
				span
					&:nth-child(2)
						transform: translateX(-6px)



// Hamburger
.menu
	z-index: 11
	position: fixed
	top: 0
	right: 0
	width: 100%
	height: 100%
	display: none
	overflow-y: auto
	.menu-
		&secondary-background-color
			position: fixed
			top: 0
			right: 0
			width: 100%
			height: 100%
			background-color: $black
			z-index: -1
		&layer
			min-height: 600px
			position: absolute
			background-color: #c89f85
			height: 100%
			width: 100%
			top: 0
			right: 0
			overflow: hidden
		&wrapper
			margin-top: -40px
			display: flex
			width: 100%
			align-items: center
			justify-content: space-between
		&photos
			width: 40%
			height: 560px
			position: relative
			overflow: hidden
			@include media("<=phone")
				display: none
			.gatsby-image-wrapper
				height: 100%
				width: 100%
			&-image
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				transform: scale(1.4)
				background-size: cover
				background-position: center center
			&-inner
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: #c89f85
		&links
			width: 50%
			//height: 100%
			@include media("<=phone")
				width: 100%
				display: flex
			nav
				height: 100%
				display: flex
				align-items: center
				@include media("<=phone")
					margin-left: auto
					margin-right: auto
			ul
				list-style-type: none
				padding: 0
				margin: 0
				height: 50%
				min-height: 320px
				display: flex
				flex-direction: column
				justify-content: space-between
				@include media("<=phone")
					align-items: center
					justify-content: center
				li
					margin: 0
					padding: 0
					position: relative
					width: max-content
					.link-wrapper
						overflow: hidden
					button
						font-family: Montserrat
						font-weight: 600
						font-size: 42px
						line-height: 1.4
						color: $black
						text-decoration: none
						padding: 15px 20px
						position: relative
						z-index: 1
						background-color: #c89f85
						transition: color .3s .3s
						display: inline-block
						border: none
						cursor: pointer
						@include media("<=phone")
							font-size: 1.25rem
							text-align: center
					svg
						position: absolute
						top: 50%
						left: -50px
						transform: translate(-50%, -50%) rotate(180deg)
						opacity: 0
						transition: transform .3s, opacity .3s
					&::after
						content: ''
						position: absolute
						height: 1px
						width: calc(50vw + 50px)
						transform: translateX(100%)
						background-color: $white
						left: -50px
						top: 50%
						z-index: -1
						transition: transform .5s .2s
						@include media("<=phone")
							width: 100vw
					&.active
						button
							cursor: default
					&:hover, &.active
						button
							color: $white
						&::after
							transform: translateX(0%)
							transition: transform .5s
						svg
							transform: translate(-50%, -50%) rotate(0deg)
							transition: transform .3s .5s, opacity .3s .5s
							opacity: 1
		&languages
			position: absolute
			width: 100%
			bottom: 40px
			text-align: center
			font-size: 24px
			left: 50%
			transform: translateX(-50%)
			@include media("<=phone")
				font-size: 1rem
			&-item
				padding: 5px
				line-height: 1.4
				text-decoration: none
				color: $black
				background-color: transparent
				border: none
				font-size: 24px
				cursor: pointer
				@include media("<=phone")
					font-size: 1rem
				&.active
					color: $white
					cursor: default


.home-content
	padding-top: 95px
	height: 655px
	@include media("<=phone")
		height: auto
		padding-top: 80px
	&-title
		z-index: 5
		h1
			font-size: 55px
			font-weight: bold
			line-height: 0.91
			color: $adobe
			margin: 0
			padding: 0
			text-transform: uppercase
			@include media("<=tablet")
				font-size: 2.5rem
			@include media("<=phone")
				font-size: 2rem
		h4
			font-size: 40px
			font-weight: 600
			color: $black
			margin: 0
			padding: 0
			text-transform: uppercase
			margin-top: 10px
			margin-bottom: 8px
			@include media("<=tablet")
				font-size: 1.85rem
			@include media("<=phone")
				font-size: 1.25rem
				margin-bottom: 0
		h5
			font-size: 30px
			font-weight: 600
			color: $black
			padding: 0
			margin: 0
			max-width: 475px
			@include media("<=tablet")
				font-size: 1.5rem
				max-width: 350px
			@include media("<=phone")
				font-size: 1.25rem
				margin-bottom: 330px
	.button.bordered
		margin-top: 42px
		@include media("<=phone")
			margin-top: 115px

.home-carousel
	width: 60%
	position: absolute
	top: 95px
	right: 0
	height: 560px
	overflow: hidden
	@include media("<=LGtablet")
		height: 400px
		top: 125px
	@include media("<=desktop")
		width: 55%
	@include media("<=phone")
		top: 195px
		width: 100%
	&-arrows
		position: absolute
		top: 0
		right: 32px
		display: flex
		align-items: center
		z-index: 6
		@include media("<=desktop")
			bottom: -50px
			top: auto
		@include media("<=LGtablet")
			bottom: 50px
		@include media("<=tablet")
			bottom: 85px
		@include media("<=phone")
			top: 375px
			right: 50%
			transform: translateX(50%)
	&-arrow
		opacity: .6
		cursor: pointer
		transition: opacity .3s
		background-color: transparent
		border: none
		&:first-child
			margin-right: 30px
		&:hover
			opacity: 1
	&-more
		position: absolute
		top: calc(100% + 40px)
		right: 32px
	&-progress
		display: flex
		flex-direction: column
		position: absolute
		left: -40px
		top: 50%
		transform: translateY(-50%)
		justify-content: center
		&-wrapper
			width: 100%
			position: absolute
			top: 0
			left: 0
			height: 100%
			.container
				position: relative
		&-num
			font-size: 16px
			line-height: 1.5
			color: rgba($black, .6)
			&.current
				font-size: 18px
				color: $black
				margin-right: 10px
			&.last
				margin-left: 10px
		&-bar
			height: 80px
			position: relative
			margin-top: -15px
			margin-bottom: -15px
			&-inner
				height: 100%
				width: 1px
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%) rotate(30deg)
				background-color: rgba($black, .2)
	&-wrapper
		position: relative
		height: 100%
		&-position
			position: absolute
			top: 0
			left: 0
			height: 100%
			display: flex
			align-items: center
	.slick-current, .slick-current-clone-animate
		.home-carousel-item
			&-image
				height: 100%
				width: 100%
	&-item
		display: flex !important
		flex-direction: column
		justify-content: center
		margin-right: 60px
		margin-left: 60px
		height: 560px
		width: 445px !important
		flex-shrink: 0
		outline: none
		@include media("<=LGtablet")
			width: 350px !important
			height: 400px
			margin-left: 30px
			margin-right: 30px
		@include media("<=phone")
			width: 223px !important
			height: 275px
			margin-left: 10px
			margin-right: 10px
		&-image
			height: 409px
			width: 325px
			margin-top: auto
			margin-bottom: auto
			overflow: hidden
			position: relative
			transition: all .5s
			@include media("<=LGtablet")
				width: 250px
				height: 300px
			@include media("<=phone")
				width: 150px
				height: 195px
		.gatsby-image-wrapper
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
		img
			object-fit: cover
			width: 100%
			height: 100%

.home-promotion
	min-width: 600px
	cursor: pointer
	width: 50%
	border: 1px solid $adobe
	border-left: none
	display: flex
	margin-top: -73px
	z-index: 5
	position: relative
	outline: none
	@include media("<=phone")
		border: none
		width: 100%
		min-width: 0
		margin-top: 0
		position: absolute
		bottom: 115px
	&-image
		width: 165px
		flex-shrink: 0
		position: relative
		border-right: 1px solid $adobe
		@include media("<=phone")
			display: none
		.gatsby-image-wrapper
			width: 100%
			height: 100%
			position: absolute !important
	&-content
		display: flex
		flex-direction: column
		padding: 25px 38px
		@include media("<=phone")
			padding: 0 15px
		h4
			font-size: 20px
			font-weight: 600
			text-transform: uppercase
			margin-bottom: 12px
			@include media("<=phone")
				font-size: 18px
				margin-bottom: 0
		p
			font-size: 16px
			margin: 0
			@include media("<=phone")
				font-size: 14px
				line-height: 18px
			span
				color: $adobe


// 02 - Advantages
.advantages
	&-card
		&s-container
			display: flex
			margin-left: -15px
			margin-right: -15px
			margin-top: -46px
			padding-bottom: -46px
			width: calc(100% + 30px)
			flex-wrap: wrap
			@include media("<=tablet")
				margin: -10px
				width: calc(100% + 20px)
		&-wrapper
			width: 33%
			padding: 46px 40px
			position: relative
			@include media("<=tablet")
				width: 50%
				padding: 10px
				&.full
					width: 80%
					margin-left: auto
					margin-right: auto
			&:nth-child(3n+2)
				.advantages-card
					&::before
						bottom: -25px
						top: auto
			&:nth-child(3n+3)
				.advantages-card
					&::before
						right: -27px
						left: auto
		height: 100%
		z-index: 1
		position: relative
		outline: none
		@include media(">=tablet")
			&::before
				content: ''
				position: absolute
				border: 1px solid $white
				top: -25px
				left: -25px
				width: 100%
				height: 100%
				z-index: -5
		@include media(">=tablet")
			transform-style: preserve-3d
			perspective: 1200px
		@include media(">=tablet")
			&:hover
				.advantages-card-inner
					transform: rotateY(180deg)
		&-inner
			width: 100%
			height: 100%
			transform-style: preserve-3d
			transition: .7s linear
			position: relative
			z-index: 3
			@include media("<=tablet")
				height: 140px
			.hidden
				opacity: 0
				padding: 25px 15px
				@include media("<=tablet")
					display: none
		&-front, &-back
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			padding: 25px 15px
			background-color: $white
			backface-visibility: hidden
			z-index: 3
		&-front
			z-index: 2
			text-align: center
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			transform: rotateY(0deg)
			@include media("<=tablet")
				background-color: transparent
				border: 1px solid $white
		&-back
			transform: rotateY(-180deg)
			display: flex
			align-items: center
			z-index: 3
			@include media("<=tablet")
				display: none
			ul
				margin: 0
				padding: 0
				list-style-type: none
				z-index: 3
				position: relative
				li
					padding-left: 20px
					position: relative
					margin: 0
					&:not(:last-child)
						margin-bottom: 10px
					&::before
						content: ''
						position: absolute
						left: 0
						top: 11px
						transform: translateY(-50%) rotate(45deg)
						width: 10px
						height: 10px
						background-color: $adobe
		&-icon
			width: 115px
			height: auto
			margin-bottom: 15px
			@include media("<=tablet")
				width: 80px
				margin-bottom: 10px
			svg
				width: 100%
				height: auto
				@include media("<=tablet")
					path
						fill: $white
		&-header
			color: $black
			font-family: Montserrat
			font-size: 1.125rem
			font-weight: 600
			margin: 0
			@include media("<=tablet")
				font-size: 1rem
				color: $white
			@include media("<=phone")
				font-size: 0.875rem

.advantages-card-mobile
	z-index: 20
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100% !important
	background-color: rgba(0,0,0,.4)
	.advantages-card-back
		padding: 30px 45px
		display: flex
		background-color: $white
		width: calc(100% - 30px)
		height: auto
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)



// 03 - Complex
// SVG
.complex
	&-pointer
		cursor: pointer
		position: relative
		z-index: 0
		transition: opacity .3s
		&:hover
			opacity: .6

.infrastructureMobile
	display: none
	@include media("<=tablet")
		display: block
		margin-bottom: 40px
.infrastructureDesktop
	display: block
	@include media("<=tablet")
		display: none

.complex-floor-image
	width: 80%
	margin-left: auto
	margin-right: auto
	@include media("<=phone")
		width: 100%
		margin-top: 30px
// SVG

// Complex popup
.complex-plan
	@include media("<=phone")
		&s
			>div:first-child
				margin-bottom: 60px
	&s
		.svgDesktop
		display: block
		.svgMobile
			display: none
	@include media("<=tablet")
		&s
			.svgDesktop
				display: none
			.svgMobile
				display: block
	&-container
		display: flex
		flex-direction: column
		width: 100%
		h3
			font-size: 36px
			margin-bottom: 23px
			@include media("<=phone")
				font-size: 1rem
				margin-bottom: 20px
	&-floor
		display: flex
		flex-direction: column
		.gatsby-image-wrapper
			width: 75%
			margin-left: auto
			margin-right: auto
			@include media("<=phone")
				width: 100%
	&-flats
		display: flex
		flex-direction: column
		margin-top: 75px
		@include media("<=phone")
			margin-top: 40px
		&-wrapper
			display: flex
			width: 100%
			flex-wrap: wrap
			margin-bottom: -35px
		&-item
			width: 33.333%
			display: flex
			flex-direction: column
			align-items: center
			margin-bottom: 75px
			@include media("<=phone")
				width: 50%
				margin-bottom: 45px
			&-image
				width: 80%
				margin-bottom: 30px
				@include media("<=phone")
					width: calc(100% - 28px)
			.button
				background-color: transparent
				position: relative
				@include media("<=phone")
					font-size: .75rem
					padding-left: 15px
					padding-right: 15px
				span
					position: absolute
					top: 50%
					left: 100%
					white-space: nowrap
					display: inline-block
					padding: 0 6px
					transform: translateY(-100%)
					font-family: Montserrat
					font-weight: 600
					text-transform: uppercase
					color: $adobe
					@include media("<=phone")
						bottom: calc(100% + 5px)
						left: 50%
						top: auto
						transform: translateX(-50%)
						&::after
							display: none
					&::after
						content: ''
						position: absolute
						top: 100%
						left: 0
						width: 100%
						height: 1px
						background-color: $adobe
// Complex popup


.complex
	&-plans
		width: 100%
		> svg
			width: 100%
			height: auto
			@include media(">=tablet")
				max-height: 80vh
				min-height: 600px
				&:first-child
					margin-bottom: 100px
	&-flats
		width: 100%
		margin-top: 145px
		@include media("<=phone")
			margin-top: 60px
		&-tab
			&s-wrapper
				overflow-x: auto
				background-color: $white
				-ms-overflow-style: none
				&::-webkit-scrollbar
					display: none
				@include media("<=phone")
					width: calc(100% + 32px)
					margin-left: -16px
			&s-container
				//width: 100%
				margin: 0
				padding: 0
				list-style-type: none
				display: flex
				justify-content: space-between
			display: flex
			padding: 40px 17px
			margin: 0
			justify-content: center
			align-items: center
			opacity: .6
			cursor: pointer
			position: relative
			white-space: nowrap
			font-family: Montserrat
			font-weight: 600
			@include media("<=phone")
				padding: 17px 15px
				font-size: .875rem
			svg
				margin-right: 20px
				@include media("<=phone")
					margin-right: 5px
					width: 22px
					height: auto
			&::after
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 2px
				content: ''
				background-color: $adobe
				transition: transform 0.5s
				transform: scaleX(0)
				transform-origin: right
			&.react-tabs__tab--selected
				color: $adobe
				opacity: 1
				position: relative
				svg
					path
						fill: $adobe
				&::after
					transform: scaleX(1)
					transform-origin: left
		.slick-current, .slick-current-clone-animate2
			.complex-flats-item
				&-image
					height: 100%
					width: 90%
					@include media("<=phone")
						height: 298px
						width: 228px
					&::before
						right: -50px
						@include media("<=phone")
							right: -35px
					.gatsby-image-wrapper
						margin-left: 0
				&-content
					h3
						font-size: 36px
						@include media("<=phone")
							font-size: 1.25rem
					.button.line
						font-size: 16px
						@include media("<=phone")
							font-size: .75rem
				&-promotion
					margin-left: 0
		.slick-list
			overflow: visible
		&-item
			&s
				&-arrows
					position: absolute
					top: 0
					right: 0
					display: flex
					align-items: center
					z-index: 6
					@include media("<=phone")
						bottom: 65px
						top: auto
						right: auto
						left: 50%
						transform: translateX(-50%)
				&-arrow
					opacity: .6
					cursor: pointer
					transition: opacity .3s
					border: none
					background-color: transparent
					outline: none
					&:first-child
						margin-right: 88px
						@include media("<=tablet")
							margin-right: 30px
					&:hover
						opacity: 1
			&s-wrapper
				//width: 100vw
				margin-top: 65px
				position: relative
				@include media("<=phone")
					margin-top: 50px
				.button
					&-wrapper
						width: 100%
						display: flex
						margin-top: 120px
					margin-left: auto
					margin-right: auto
			display: flex !important
			flex-direction: column
			justify-content: center
			height: 580px
			width: 470px !important
			flex-shrink: 0
			outline: none
			cursor: pointer
			@include media("<=phone")
				width: calc(100vw - 32px) !important
				height: 298px
			&-image
				height: 435px
				width: 320px
				margin-top: auto
				margin-bottom: auto
				margin-left: auto
				margin-right: auto
				position: relative
				transition: all .5s
				@include media("<=phone")
					width: 228px
					height: 298px
				&::before
					position: absolute
					content: ''
					width: 100%
					height: 100%
					bottom: -50px
					right: -70px
					transition: right .3s
					background-color: $pale-brown
					@include media("<=phone")
						bottom: -35px
						right: -35px
			.gatsby-image-wrapper
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				margin-left: 20px
				transition: margin-left .3s
			img
				object-fit: cover
				width: 100%
				height: 100%
			&-content
				position: absolute
				top: -20px
				width: 100%
				padding: 20px 20px
				left: -40px
				background-color: $white
				h3
					//text-align: center
					font-weight: 600
					font-size: 32px
					line-height: 1.2
					text-transform: none
					color: $pale-brown
					margin-bottom: 20px
					transition: font-size .3s
					span
						display: block
					@include media("<=phone")
						font-size: 1.25rem
						margin-bottom: 10px
				.button.line
					font-size: 12px
					position: relative
					transition: font-size .3s
			&-promotion
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				margin-left: 20px
				padding: 15px 0
				text-align: center
				text-transform: uppercase
				background-color: $black
				font-family: Montserrat
				font-weight: 600
				font-size: 20px
				line-height: 24px
				color: $white
				//border: 1px solid $white
				transition: margin-left .3s

.modal
	z-index: 100
	position: fixed
	top: 0
	right: 0
	width: 100%
	height: 100%
	display: none
	overflow-y: auto
	&-secondary-background-color
		position: fixed
		top: 0
		right: 0
		width: 100%
		height: 100%
		background-color: $black
		z-index: -1
	&-layer
		//min-height: 600px
		position: absolute
		background-color: $pale
		height: 100%
		width: 100%
		top: 0
		right: 0
		//overflow: none
		overflow-y: scroll
		-ms-overflow-style: none
		&::-webkit-scrollbar
			display: none
		.button-close
			padding: 10px
			width: 56px
			margin: -10px
			background: none
			border: none
			cursor: pointer
			outline: none
			position: absolute
			top: 50px
			z-index: 5
			right: 0
			@include media("<=phone")
				top: 30px
			span
				margin-bottom: 6px
				background-color: $adobe
				height: 3px
				border-radius: 3px
				width: 100%
				display: block
				transition: transform .3s, background-color .3s .5s
				&:nth-child(2)
					opacity: 0
				&:nth-child(1)
					transform: translateY(9px) rotate(45deg)
					transform-origin: center
				&:nth-child(3)
					transform: translateY(-9px) rotate(-45deg)
					transform-origin: center
				&:last-child
					margin-bottom: 0
		.row
			position: relative
	&-scroll
		position: absolute
		top: 0
		left: 0
		//height: 100%
		padding: 0 32px
		margin-left: auto
		margin-right: auto
		width: 100%
		@include media("<=phone")
			padding: 0 16px
	&-wrapper
		display: flex
		width: 100%
		//align-items: center
		justify-content: space-between
		flex-wrap: wrap
		padding: 40px 0
		position: relative
		@include media("<=phone")
			padding: 30px 0
			min-height: 100%
	&-header
		width: calc(100% - 60px)
		display: flex
		@include media("<=phone")
			width: calc(100% - 40px)
		&.small
			width: 54%
			@include media("<=phone")
				width: calc(100% - 40px)
		&-item
			width: 100%
			margin-bottom: 30px
			font-weight: 600
			font-size: 36px
			@include media("<=phone")
				margin-bottom: 20px
			h2
				margin: 0
				padding: 0
				text-transform: none
				span
					color: $adobe
			&.promotion
				h2
					color: $adobe
				&.hidden
					opacity: 0
					@include media("<=phone")
						display: none

.complex-more
	&-photos
		width: 50%
		padding-right: 15px
		//opacity: 0
		@include media("<=phone")
			width: 100%
			padding-right: 0
	&-content
		width: 50%
		padding-left: 15px
		@include media("<=phone")
			width: 100%
			padding-left: 0
		&-table
			margin-bottom: 60px
			table
				border: 1px solid $adobe
				th, td
					text-align: center
					border-bottom: 1px solid $adobe
					padding: 15px
					font-family: Montserrat
					font-weight: 600
					font-size: 20px
					line-height: 24px
					@include media("<=phone")
						font-size: 14px
						line-height: 16px
						padding: 7px
					&:not(:last-child)
						border-right: 1px solid $adobe
				tfoot
					td
						font-weight: 600
						&:not(:last-child)
							border-right: none
			@include media("<=phone")
				margin-top: 30px
				margin-bottom: 30px
			svg
				width: 100%
				height: auto
		&-buttons
			display: flex
			justify-content: space-between
			.button
				width: calc(50% - 15px)
				padding-left: 0
				padding-right: 0
				@include media("<=phone")
					width: calc(50% - 10px)
					font-size: .75rem



// 04 - Tours
.tour
	&-wrapper
		display: flex
		flex-direction: column
		width: 100%
	&-card
		&s-container
			display: flex
			width: 100%
			@include media("<=phone")
				order: 2
				flex-wrap: wrap
		&-wrapper
			width: 50%
			padding-right: 95px
			@include media("<=phone")
				width: 100%
				padding-right: 0
			&:nth-child(2)
				padding-left: 95px
				text-align: left
				@include media("<=phone")
					padding-left: 0
					margin-top: 70px
				.tour-card
					margin-left: 0
					@include media("<=phone")
						margin-left: auto
					&-title
						left: 100%
						//min-width: 180px
						padding-left: 20px
						padding-right: auto
						@include media("<=phone")
							padding-left: 0
							text-align: left
							left: calc(50% - 15px)
						&::after
							left: 0
					@include media("<=phone")
						&-icon
							&::after
								right: auto
								left: 100%
								top: 50%
		display: flex
		width: max-content
		flex-direction: column
		text-align: right
		margin-left: auto
		@include media("<=phone")
			margin-right: auto
		&-icon
			padding: 12px
			background-color: $white
			margin-bottom: 25px
			position: relative
			z-index: 1
			width: 160px // comment it
			height: 160px // comment it
			display: flex
			justify-content: center
			align-items: center
			@include media("<=phone")
				width: 134px // comment it
				height: 134px // comment it
			&::before
				content: ''
				width: 100%
				height: 100%
				border: 1px solid $white
				position: absolute
				top: -18px
				left: -18px
				z-index: -1
				@include media("<=phone")
					top: -15px
					left: -15px
			@include media("<=phone")
				&::after
					position: absolute
					width: 50vw
					content: ''
					background-color: $white
					height: 1px
					right: calc(100% + 15px)
					top: calc(50% - 15px)
		&-title
			position: absolute
			right: calc(100% + 18px)
			top: calc(50% - 18px)
			transform: translateY(-100%)
			padding-right: 20px
			white-space: nowrap
			font-size: 1.5rem
			line-height: 33px
			@include media("<=phone")
				font-size: .75rem
				line-height: 14px
				bottom: calc(100% + 18px)
				top: auto
				right: auto
				left: calc(50% - 15px)
				transform: translateX(-50%)
				padding-right: 0
			&::after
				position: absolute
				bottom: 0
				width: 50vw
				content: ''
				background-color: $white
				height: 1px
				right: 0
				@include media("<=phone")
					display: none
	&-info
		display: flex
		max-width: 420px
		margin-left: auto
		margin-right: auto
		margin-top: 63px
		align-items: center
		//font-family: OpenSans
		font-size: 1.125rem
		@include media("<=phone")
			margin-top: 0
			margin-bottom: 50px
			font-size: 1rem
			line-height: 1.4
			width: 85%
		&-icon
			margin-right: 20px
			svg
				width: 40px
				height: auto
				@include media("<=phone")
					width: 20px


// 05 - Gallery
.gallery
	h2
		margin-bottom: 75px
		@include media("<=phone")
			margin-bottom: 30px
	&-card
		&s-container
			display: flex
			flex-wrap: wrap
			margin: -15px
			width: calc(100% + 30px)
			@include media("<=phone")
				position: relative
				width: calc(100vw + 8px)
				left: 50%
				right: 50%
				margin-left: calc(-50vw - 4px)
				margin-right: -50vw
		&-wrapper
			padding: 15px
			width: 60%
			flex-grow: 1
			@include media("<=phone")
				padding: 4px
			&:nth-child(4n+2), &:nth-child(4n+3)
				width: 40%
		height: 435px
		overflow: hidden
		@include media("<=tablet")
			height: 250px
		@include media("<=phone")
			height: 135px
		.gatsby-image-wrapper
			height: 100%
		img
			object-fit: cover



// 06 - Form
.form
	h2
		.h2-line
			&:nth-child(2)
				margin-left: 408px
				@include media("<=LGtablet")
					margin-left: 90px
				@include media("<=tablet")
					margin-left: 0
				@include media("<=phone")
					margin-left: 0
	&-container
		display: flex
		width: 100%
		>div
			width: 50%
			@include media("<=tablet")
				width: 100%
	&-images
		padding-right: 50px
		@include media("<=tablet")
			display: none
		&-wrapper
			position: relative
			width: 100%
			height: 100%
		.gatsby-image-wrapper
			height: 100%
		&-top
			height: 40%
			width: 46%
			overflow: hidden
			position: absolute
			top: 0
			right: 0
			border-bottom: 25px solid $pale-brown
			border-left: 25px solid $pale-brown
			z-index: 2
		&-bottom
			height: 80%
			width: 73%
			overflow: hidden
			position: absolute
			bottom: 0
			left: 0
	&-wrapper
		background-color: $white
		padding: 45px 35px
		position: relative
		@include media("<=tablet")
			padding: 35px 30px
	&-content
		padding-left: 15px
		@include media("<=tablet")
			padding-left: 0
		&-success
			display: flex
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			//background-color: $white
			//backdrop-filter: blur(10px)
			background-color: $pale
			overflow: hidden
			z-index: 2
			align-items: center
			justify-content: center
			padding: 50px
			opacity: 0
			transition: opacity .3s
			&.active
				opacity: 1
			p
				font-family: Montserrat
				text-transform: uppercase
				font-weight: bold
				color: $black
				font-size: 1.5rem
				text-align: center
				line-height: 1.6
				span
					color: $adobe
		&-form
			margin: 0
			display: flex
			flex-wrap: wrap
			.button:disabled
				background-color: transparent
				color: $black
				cursor: default
		&-label
			width: 100%
			position: relative
			margin-bottom: 35px
			@include media("<=tablet")
				margin-bottom: 30px
			&.email
				width: 50%
				padding-right: 12px
				@include media("<=tablet")
					width: 100%
					padding-right: 0
			&.phone
				width: 50%
				padding-left: 12px
				@include media("<=tablet")
					width: 100%
					padding-left: 0
				.form-content-text
					left: 27px
			&.message
				@include media("<=tablet")
					margin-bottom: 20px
				.form-content-input
					height: 155px
					resize: none
					@include media("<=tablet")
						height: 125px
					@include media("<=phone")
						height: 65px
		&-text
			position: absolute
			top: 0
			left: 15px
			padding: 0 3px
			background-color: $white
			transform: translateY(-50%)
			font-size: 1.125rem
			font-weight: 600
			z-index: 1
			@include media("<=phone")
				font-size: 0.875rem
		&-input
			padding: 19px 17px
			width: 100%
			margin: 0
			background-color: transparent
			outline: none
			border: solid 1px $adobe
			font-size: 1rem
			border-radius: 0
			@include media("<=phone")
				padding: 10px 15px
				font-size: .75rem
				line-height: 1.4
			&::placeholder
				color: rgba(40, 40, 40, 0.6)
.react-tel-input
	height: 63px
	@include media("<=phone")
		height: 38px
	.form-control
		width: 100%
		height: 100%
		border-radius: 0
		border: 1px solid $adobe
		background-color: transparent
	.flag-dropdown
		background: none
		border: none
		border-right: 1px solid $adobe
.react-tel-input .flag-dropdown:hover .selected-flag, .react-tel-input .flag-dropdown:focus .selected-flag
	background: none

.react-tel-input .flag-dropdown.open
	background: none



// 07 - Contacts
.contacts
	h2
		margin-bottom: 75px
		@include media("<=tablet")
			margin-bottom: 50px
		@include media("<=phone")
			margin-bottom: 30px
	&-map
		height: 600px
		background-color: lightblue
		width: 100%
		@include media("<=phone")
			height: 150px
	&-info
		width: 80%
		display: flex
		padding: 30px 66px
		background-color: $white
		margin-left: auto
		margin-right: auto
		margin-top: -100px
		z-index: 9
		@include media("<=tablet")
			margin-top: 0
			width: 100%
			flex-wrap: wrap
			justify-content: center
			padding: 15px 20px
	&-item
		min-width: 30%
		padding-left: 30px
		margin-top: -3px
		margin-bottom: -3px
		@include media("<=tablet")
			width: 50%
			&:nth-child(2)
				order: 2
				width: 55%
				margin-top: 20px
				min-width: 200px
		&-header
			position: relative
			font-family: Montserrat
			font-size: 1.25rem
			font-weight: 600
			margin: 0
			padding: 0
			margin-bottom: 20px
			@include media("<=tablet")
				font-size: 1rem
			@include media("<=phone")
				font-size: 0.875rem
				margin-bottom: 7px
			svg
				width: 20px
				height: auto
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: calc(100% + 10px)
				path
					fill: $adobe
		&-list, ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				text-transform: uppercase
				font-size: 1.125rem
				line-height: 1.4
				margin: 0
				padding: 0
				@include media("<=phone")
					font-size: 0.75rem
					line-height: 1.4
				a, span
					text-decoration: none
					color: $black
					display: inline-block
					padding: 3px 10px
					margin-left: -10px
					margin-right: -10px




//					Modal fos
.modal-fos-form-wrapper
	width: 100%
	margin-top: 30px
	display: flex
	flex-wrap: wrap
	.react-tel-input
		height: 53px
	.modal-fos-form
		width: 50%
		@include media("<=phone")
			width: 100%
			order: 2
	.modal-fos-form-plan
		width: 50%
		padding-left: 95px
		@include media("<=phone")
			width: 100%
			order: 1
			padding-left: 0
		.form-content-input
			font-weight: 600
			line-height: 1.2
			span
				display: block
	.form-content
		&-input
			padding: 14px 17px
		&-text
			background-color: $pale
	.button
		margin-left: 0


// Footer
.footer
	background-color: $pale-brown
	text-align: center
	font-size: 1.125rem
	padding: 47px 0
	@include media("<=phone")
		padding: 9px 0
		font-size: .75rem